    /* Contenedor de cantidad de productos en el carrito */
    .cart-count {
        background-color: #dc3545; /* Rojo */
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 14px;
        position: relative;
        top: -10px;
        right: -10px;
      }
  
      /* Contenedor de la grilla de productos */
      .container {
        padding: 20px;
      }
  
      .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
      }
  
      .product {
        border: 1px solid #99ccff; /* Borde azul claro */
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        background-color: #f0f8ff; /* Fondo azul suave */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
  
      .product h3 {
        margin: 10px 0;
        font-size: 18px;
        color: #003366; /* Texto en azul oscuro */
      }
  
      .product img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        margin-bottom: 10px;
      }
  
      .product .quantity {
        width: 50px;
        margin-right: 10px;
        border: 1px solid #0073e6; /* Borde azul para el input */
      }
  

  
      /* Toast message */
      .toast {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
  
      .toast.success {
        background-color: #28a745; /* Verde para éxito */
        color: white;
      }
  
      .toast.error {
        background-color: #dc3545; /* Rojo para error */
        color: white;
      }
  
      .toast.show {
        visibility: visible;
        /* Añadir una animación para mostrar y ocultar el toast */
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
  
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
  
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
  
      /* Responsiveness */
      @media (max-width: 600px) {
        .navbar a {
          float: none;
          display: block;
          text-align: left;
        }
      }

      /* Botones de paginación */
    .pagination {
      margin-top: 20px;
      text-align: center;
    }

    .pagination button {
      background-color: #0073e6;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      margin: 0 5px;
    }

    .pagination button:hover {
      background-color: #005bb5;
    }

    .pagination button[disabled] {
      background-color: #ccc;
      cursor: not-allowed;
    }