body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f0ff; /* Fondo azul claro */
    color: #003366; /* Texto en azul oscuro */
  }

  /* Barra de navegación */
  .navbar {
    background-color: #004080; /* Azul oscuro */
    overflow: hidden;
    padding: 10px;
  }

  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    float: right;
  }

  .navbar a:hover {
    background-color: #0073e6; /* Azul más claro al pasar el cursor */
    color: white;
  }

  .navbar a.logo {
    float: left;
    font-size: 18px;
    font-weight: bold;
  }


  .btn-add {
    background-color: #0073e6; /* Azul para el botón */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }

 .btn-add:hover {
    background-color: #005bb5; /* Azul más oscuro al pasar el cursor */
  }